html, body { min-height: 100%; }
body{
    background-color: #000000;
background-image: linear-gradient(147deg, #000000 80%, #2c3e50 34%);
background-repeat: no-repeat;
}
div.info-personal
{
    color: white;
    margin-left: 5px;
}
div.info-personal>h1{
    margin-left: 5px;
}

div.info-personal>p{
    margin-left: 20px;

}