body{
    margin: 0;
    background-color: black;
   /* overflow: hidden; Crea y quita el scrull*/
   
}

main{
    margin-top: 0px;
}


.sidebar{
position:absolute;    
width: 250px;
height: 100%;
background: #232b2b;
color: white;

}

.sidebar h2
{
 background-color: black;
 text-align: center;
 padding: 20px;
 margin: 0;
 
}

.sidebar > ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 0px;
    margin: 0;
    margin-left: 5px;
}

.sidebar li{
    outline: 1px solid black;
    margin-top: 0px;
    padding-left: 2px;
   transition: border 0.3s;
}
.sidebar li:hover{
    background-color: #444;
    border-left: 5px solid white;
}

.contenido{
    width: 100%;
    height: 100%;
    position:absolute;
    background:black;
    padding: 35px;
    transition: all 0.4s;
    box-sizing: border-box;
    color: white;
}

.abrir
{
   
    transform: translateX(250px);
}

h1#titulo-tema
{
 color: white;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .siguiente
  {
     display: flex;
     justify-content: center;
  }
  
  div.img-parrafo
  {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      
      justify-content: center;

  }
  